html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@keyframes enter {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}
.in-animation {
    animation: enter 0.5s ease-in-out;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";